pre > * {
    margin: 0;
    background-color: black;
    text-align: center;
    color: white;

    /* no wider than 80 chars onscreen :P */
    font-size: 3.4em;
}

pre > .post-title {
    color: green;
}
