* {
    margin: 0;
    background-color: black;
    text-align: center;
}

/* no wider than 80 chars onscreen :P */
h1, a, p {
    color: white;
    font-size: 3.4em;
}

h1 > span {
    color: green;
}

p > span {
    color: grey;
}

pre > .post-title {
    color: green;
}

code {
    text-align: left;
}
